<template>
  <v-card class="d-flex flex-no-wrap justify-space-between" v-if="wishlistItem">
    <span class="d-inline-block text-truncate">
      <v-card-title class="headline"> {{wishlistItem.title}}</v-card-title>
      <v-card-subtitle> {{wishlistItem.description}}</v-card-subtitle>
      <v-card-actions>
        <v-btn text :href="wishlistItem.link" target="_blank">
          Shop Now
        </v-btn>
      </v-card-actions>
    </span>
    <div>
      <v-avatar class="ma-3" size="125" tile>
        <v-img :src="wishlistItem.image"></v-img>
      </v-avatar>
    </div>
  </v-card>
</template>

<script>
  export default {
    name: 'WishlistItem',
    props: {
      item: Object
    },
    data: function() {
      return {
        wishlistItem: undefined
      }
    },
    async created() {
      const result = await this.$axios.$get('/api/meta-scraper', {
        params: {
          target: this.item.link
        }
      })
      this.wishlistItem = result
      this.wishlistItem.title = this.item.title || result.title
      this.wishlistItem.link = this.item.link
    }
  }
</script>

<style scoped>

</style>
