<template>
  <div>
    <v-expansion-panels accordion>
      <v-expansion-panel v-for="(host,i) in items" :key="i">
        <v-expansion-panel-header>{{host.host}}</v-expansion-panel-header>
        <v-expansion-panel-content>
          <v-row justify="center" align="center" v-for="item of host.items" :key="item.link">
            <v-col cols="12">
              <wishlist-item :item="item"/>
            </v-col>
          </v-row>
        </v-expansion-panel-content>
      </v-expansion-panel>
    </v-expansion-panels>
    <v-btn fab color="indigo" bottom right fixed>
      <v-icon>
        mdi-plus
      </v-icon>
    </v-btn>
  </div>
</template>

<script>
  import Logo from '~/components/Logo.vue'
  import VuetifyLogo from '~/components/VuetifyLogo.vue'
  import WishlistItem from '../components/WishlistItem'

  export default {
    components: {
      WishlistItem,
      Logo,
      VuetifyLogo
    },
    data: function() {
      return {
        rawItems: [{ link: 'https://grumbl.shobu.fr' }, { link: 'https://www.youtube.com/watch?v=gxEe2TJLDBk' }, { link: 'https://www.youtube.com/watch?v=P99qJGrPNLs' }]
      }
    },
    computed: {
      items: function() {
        let hosts = new Set(this.rawItems.map(item => new URL(item.link).hostname))
        let bakedItems = Array.from(hosts).map(host => {
          return { host: host, items: this.rawItems.filter(item => new URL(item.link).hostname === host) }
        })
        return bakedItems
      }
    }
  }
</script>
